/* Your CSS Code here. */
.holder{
	height:100px;
	width:600px;
	display:flex;
	flex-wrap:wrap;
	flex-direction: row-reverse;
justify-content:center;
}
.three{
	height:100px;
	width:100px;
	background-color:green;
	font-size:40px;
}
.two{
	height:100px;
	width:100px;
	background-color:blue;
	font-size:40px;
}
.one{
	height:100px;
	width:100px;
	background-color:red;
	font-size:40px;
}